<div id="form" class="landing-page-body">
  <img id="landing-page-logo" src="images/logo.png" alt="page-logo" />

  <div class="landing-page-all-buttons">
    <a class="nav-link" href="/signup">Signup</a>
    <a class="nav-link" href="/login">Login</a>
  </div>

</div>