<div id="form">
  <h2>Login</h2>

  {{#if errorMessage}}
    <p class="error">{{errorMessage}}</p>
  {{/if}}

  <form class="row g-3" action="/login" method="POST">
    <div class="col-12">
      <label class="form-label">Username</label>
      <input type="text" class="form-control" name="username" placeholder="foodie123" />
    </div>
    <div class="col-12">
      <label class="form-label">Password</label>
      <input type="password" class="form-control" name="password" placeholder="********" />
    </div>
    <div class="col-12">
      <button type="submit" class="btn btn-primary">Login</button>
    </div>
  </form>
</div>