<div id="form">
  <h2>Signup</h2>

  {{#if errorMessage}}
    <div class="error">
      <p>{{errorMessage}}</p>
      {{#each missingFields}}
        {{#if this}}
          {{@key}}
          is missing
          <br />
        {{/if}}
      {{/each}}
    </div>
  {{/if}}

  <form class="row g-3" action="/signup" method="POST">
    <div class="col-12">
      <label class="form-label">Username</label>
      <input type="text" class="form-control" name="username" placeholder="foodie123" />
    </div>
    <div class="col-12">
      <label class="form-label">Email</label>
      <input type="email" class="form-control" name="email" placeholder="foodie123@email.com" />
    </div>
    <div class="col-12">
      <label class="form-label">Password</label>
      <input type="password" class="form-control" name="password" placeholder="********" />
    </div>
    <div class="col-12">
      <button type="submit" class="btn btn-primary">Sign up</button>
    </div>
  </form>

</div>