.navbar {
  padding: 0 30px;
}

.navbar-collapse {
  justify-content: flex-end;
}

#page-logo {
  height: 60px;
}

.landing-page-body {
  margin-top: 40px;
  text-align: center;
  padding: 40px 0;
}

#landing-page-logo {
  height: 240px;
}

.landing-page-all-buttons {
  display: flex;
  justify-content: center;
  margin-top: 40px;
}

.landing-page-all-buttons a {
  color: black;
  font-size: 22px;
  border: 1px solid #e80c7a;
  border-radius: 0.25rem;
  width: 260px;
  margin: 0 20px;
}
.landing-page-all-buttons a:hover {
  color: white;
  background-color: #e80c7a;
}

.body-container {
  padding: 40px;
}

.page-headline {
  text-align: center;
  margin-bottom: 60px;
}

.buttons-user-profile {
  display: flex;
  justify-content: flex-end;
  position: absolute;
  right: 0;
  top: -50px;
}

.buttons-user-profile a,
.buttons-user-profile form button {
  color: black;
  width: 80px;
  background-color: none;
  text-decoration: none;
  border: none;
}

.buttons-user-profile a:hover,
.buttons-user-profile form button:hover {
  color: #e80c7a;
}

#form {
  width: 60%;
  margin-left: auto;
  margin-right: auto;
}

#form .error {
  color: #e80c7a;
}

.btn-primary,
.btn-primary:hover,
.btn-primary:focus {
  background-color: #e80c7a;
  border-color: #e80c7a;
}

.btn-primary:focus {
  box-shadow: none !important;
}

#user-profile-page {
  width: 80%;
  margin: 20px auto;
  border: 2px solid #e80c7a;
  border-radius: 0.25rem;
  position: relative;
}

.user-profile-item {
  display: flex;
}

.user-profile-item p {
  margin-right: 20px;
}

.recipe-array-item {
  color: black;
  text-decoration: none;
}

.recipe-array-item:hover {
  color: #e80c7a;
}

#recipe-image-details {
  height: 200px;
  position: absolute;
  top: 342px;
  left: 30px;
  font-size: 18px;
}

.recipe-image-list{
  height: 200px;
  width: auto;
 
}

#content-size {
  margin: auto;
  width:50%;
  height: 100%
}
