body {
  background: linear-gradient(45deg, #fbeff3 0%, #ffffff 100%);
  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
}

.col {
  margin: 1em 0;
}
.bg-light {
  --bs-bg-opacity: 1;
  background-color: #fcf3f6 !important;
}

.navbar {
  padding: 0 30px;
  width: 100%;
}

.navbar-collapse {
  justify-content: flex-end;
}

#page-logo {
  height: 60px;
}

#heart-icon {
  margin-right: 5px;
}

#heart-icon-left {
  margin-left: 10px;
  font-size: 18px;
}

.landing-page-body {
  margin-top: 40px;
  text-align: center;
  padding: 40px 0;
}

#landing-page-logo {
  height: 240px;
}

.landing-page-all-buttons {
  display: flex;
  justify-content: center;
  margin-top: 40px;
}

.landing-page-all-buttons a {
  color: black;
  font-size: 22px;
  border: 1px solid #e80c7a;
  border-radius: 0.25rem;
  width: 260px;
  margin: 0 20px;
}
.landing-page-all-buttons a:hover {
  color: white;
  background-color: #e80c7a;
}

.body-container {
  padding: 40px;
  margin-top: 60px;
}

.page-headline {
  text-align: center;
  margin-bottom: 60px;
}

.buttons-user-profile {
  display: flex;
  justify-content: flex-end;
  position: absolute;
  right: 0;
  top: -50px;
}

.buttons-user-profile a,
.buttons-user-profile form button {
  color: black;
  width: 80px;
  background-color: none;
  text-decoration: none;
  border: none;
}

.buttons-user-profile a:hover,
.buttons-user-profile form button:hover {
  color: #e80c7a;
}

#form {
  width: 60%;
  margin-left: auto;
  margin-right: auto;
}

#form .error {
  color: #e80c7a;
}

.btn-primary,
.btn-primary:hover,
.btn-primary:focus {
  background-color: #e80c7a;
  border-color: #e80c7a;
}

.btn-primary:focus {
  box-shadow: none !important;
}

#user-profile-page {
  width: 80%;
  margin: 20px auto;
  border-radius: 0.25rem;
  position: relative;
}

.profile-details {
  border-top: 1px solid #e80c7a;
  border-bottom: 1px solid #e80c7a;
  padding: 20px;
  display: flex;
  align-items: center;
}

.profile-details div {
  margin-right: 40px;
}

#user-photo {
  height: 100px;
}

.user-profile-item {
  display: flex;
}

.user-profile-item p {
  margin-right: 20px;
}

.user-recipes-div {
  padding: 20px;
}

.user-recipes-div h5 {
  margin-bottom: 20px;
}

.recipe-array-item {
  color: black;
  font-size: 18px;
  text-decoration: none;
}

.fork-icon {
  height: 20px;
  margin-right: 10px;
}

.recipe-array-item:hover {
  color: #e80c7a;
}

#user-delete-button {
  background: none;
  color: inherit;
}

#user-delete-button:hover {
  color: #e80c7a;
}

#like-recipe {
  cursor: pointer;
}

.recipe-details-buttons {
  display: flex;
  height: 40px;
  margin-top: 40px;
}

.recipe-details-buttons form,
.recipe-details-buttons button {
  height: 40px;
  margin-right: 10px;
  width: 140px;
}

.recipe-details-buttons form button {
  border: none;
  border-radius: 0.25rem;
}

.recipe-details-buttons button a,
#go-back-button a {
  text-decoration: none;
  color: white;
}

.recipe-details-single-button {
  height: 30px;
}

.section-recipe-details {
  position: relative;
  display: flex;
}

.section-recipe-details img {
  height: 300px;
}

#recipe-image-details {
  position: absolute;
  /* top: 342px;
  left: 30px; */
  top: 0;
  left: 0;
  font-size: 18px;
}

.card {
  border: none !important;
}
.recipe-image-list-box {
  height: 20vh;
  width: auto;
  box-shadow: 4px 4px 6px 4px rgba(106, 106, 109, 0.1);
  margin-bottom: 10px;
  object-fit: contain;
  text-align: center;
}
.recipe-image-list {
  height: 20vh;
  width: auto;
  border: none !important;
}

#content-size {
  margin: auto;
  width: 50%;
  height: 100%;
}

.card {
  padding: 20px;
}

#go-back-button {
  position: fixed;
  bottom: 30px;
  left: 30px;
}

@media (max-width: 900px) {
  .section-recipe-details {
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }

  .section-recipe-details img {
    width: 200px;
    height: auto;
  }
}
