<h2> All recipes</h2>


{{#each recipes}} </br>
<h3> Title: {{this.title}} </h3> 
<h3> Image:</h3> 
<img src=" {{this.imageURL}} "> 

<br>
</br> 

<button><a href="/recipe/{{this._id}}"> Details </a> </button> 

<br>
</br> 

{{!-- <form class="delete-form" action="/recipe/{{this._id}}/delete" method="POST"> --}}
            {{!-- <button>Delete</button> --}}
        </form>



{{/each}}



