<h2> All recipes</h2>


{{#each recipes}} </br>
<h3> {{this.title}} </h3>

<img class="recipe-image" src=" {{this.imageURL}} ">

<br>
</br>

<button><a href="/recipe/{{this._id}}"> Details </a> </button>

<br>
</br>

</form>

{{/each}}