<h2> All recipes</h2>


{{#each recipes}} </br>
<h3> Title: </h3> {{this.title}}
<h3> Image:</h3> {{this.image}}


{{!-- {{#if isLoggedIn}} --}}
<button><a href="/recipe/{{this._id}}"> Details </a> </button> 

<br>
</br> 

<form class="delete-form" action="/recipe/{{this._id}}/delete" method="POST">
            <button>Delete</button>
        </form>


{{!-- {{/if}} --}}
{{/each}}



