<h2>  Recipe details:  </h2>

<section>
    <h3>Title: {{recipe.title}} </h3> </br>  
    <strong>Author:</strong> {{recipe.author}} <br/>
    <strong>Content:</strong> {{recipe.content}} </br>
    <strong>Image:</strong> {{recipe.image}}

</section>